<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net>
		<!-- Logger cho Feature Authentication -->
		<logger name="Authentication">
			<level value="ALL" />
			<appender-ref ref="AuthInfoAppender" />
			<appender-ref ref="AuthErrorAppender" />
			<appender-ref ref="AuthWarningAppender" />
		</logger>

		<!-- Logger cho Feature Member Registration Session -->
		<logger name="MemberRegistrationSession">
			<level value="ALL" />
			<appender-ref ref="RegistrationSessionInfoAppender" />
			<appender-ref ref="RegistrationSessionErrorAppender" />
			<appender-ref ref="RegistrationSessionWarningAppender" />
		</logger>

		<!-- ===================== AUTHENTICATION ===================== -->
		<appender name="AuthInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/Authentication-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="AuthErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/Authentication-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="AuthWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/Authentication-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- ===================== MEMBER REGISTRATION SESSION ===================== -->
		<appender name="RegistrationSessionInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/MemberRegistrationSession-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="RegistrationSessionErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/MemberRegistrationSession-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="RegistrationSessionWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/MemberRegistrationSession-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- ===================== COACH MANAGEMENT ===================== -->
		<logger name="CoachManagement">
			<level value="ALL" />
			<appender-ref ref="CoachInfoAppender" />
			<appender-ref ref="CoachErrorAppender" />
			<appender-ref ref="CoachWarningAppender" />
		</logger>

		<appender name="CoachInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/CoachManagement-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="CoachErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/CoachManagement-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="CoachWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/CoachManagement-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- ===================== MANAGER MANAGEMENT ===================== -->
		<logger name="ManagerManagement">
			<level value="ALL" />
			<appender-ref ref="ManagerInfoAppender" />
			<appender-ref ref="ManagerErrorAppender" />
			<appender-ref ref="ManagerWarningAppender" />
		</logger>

		<appender name="ManagerInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ManagerManagement-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="ManagerErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ManagerManagement-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="ManagerWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ManagerManagement-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- ===================== TEAM FUND MANAGEMENT ===================== -->
		<logger name="TeamFundManagement">
			<level value="ALL" />
			<appender-ref ref="TeamFundInfoAppender" />
			<appender-ref ref="TeamFundErrorAppender" />
			<appender-ref ref="TeamFundWarningAppender" />
		</logger>

		<appender name="TeamFundInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/TeamFundManagement-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="TeamFundErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/TeamFundManagement-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="TeamFundWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/TeamFundManagement-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- ===================== PAYMENT MANAGEMENT ===================== -->
		<logger name="PaymentManagement">
			<level value="ALL" />
			<appender-ref ref="PaymentInfoAppender" />
			<appender-ref ref="PaymentErrorAppender" />
			<appender-ref ref="PaymentWarningAppender" />
		</logger>

		<appender name="PaymentInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/PaymentManagement-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="PaymentErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/PaymentManagement-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="PaymentWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/PaymentManagement-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- ===================== MANAGER REGISTRATION ===================== -->
		<logger name="ManagerRegistration">
			<level value="ALL" />
			<appender-ref ref="ManagerRegInfoAppender" />
			<appender-ref ref="ManagerRegErrorAppender" />
			<appender-ref ref="ManagerRegWarningAppender" />
		</logger>

		<appender name="ManagerRegInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ManagerRegistration-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="ManagerRegErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ManagerRegistration-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="ManagerRegWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ManagerRegistration-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- ===================== FILE UPLOAD MANAGEMENT ===================== -->
		<logger name="FileUpload">
			<level value="ALL" />
			<appender-ref ref="FileUploadInfoAppender" />
			<appender-ref ref="FileUploadErrorAppender" />
			<appender-ref ref="FileUploadWarningAppender" />
		</logger>

		<appender name="FileUploadInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/FileUploadManagement-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="FileUploadErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/FileUploadManagement-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="FileUploadWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/FileUploadManagement-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- ===================== COURT MANAGEMENT ===================== -->
		<logger name="CourtManagement">
			<level value="ALL" />
			<appender-ref ref="CourtInfoAppender" />
			<appender-ref ref="CourtErrorAppender" />
			<appender-ref ref="CourtWarningAppender" />
		</logger>

		<appender name="CourtInfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/CourtManagement-Info-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="CourtErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/CourtManagement-Error-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="CourtWarningAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/CourtManagement-Warning-" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>
